.container{
 font-family: Arial, Helvetica, sans-serif;
 max-width:300px;
 position: absolute;
 left: 42%;
 top: 38%;
 margin: auto;
 background-color:red;
 padding: 20px;
 border-radius: 10px;
}

input{
 width: 100%;
 display:block;
 padding: 5px;
 box-sizing: border-box;
 margin-bottom: 10px;

}

h1{
    background: cyan;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -25px;
    border-radius: 5px;
}

body{
 background-image: url('../imagens/churras.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}